/* Navbar Styles */

/* .nav-item:hover {
    background-color: #8594cf;
} */

/* .active {
    background-color: #6c86ef;
} */

/* .navbar-toggler:hover {
    background-color: #8594cf;
} */

.nav-item{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .nav-item:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(104, 203, 216, 0.579) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(104, 203, 216, 0.579) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .nav-item:hover, .nav-item:active, .nav-item:focus{
    /* background-color: #8594cf; */
    transform: translateY(-5px);
  }
  .nav-item:hover:before, .nav-item:active:before, .nav-item:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }


@media screen and (max-width: 768px) {
    .navigation-menu ul {
        /* previous styles */
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu.expanded ul {
        display: block;
    }
}


/* Table Styles */
.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;;
}

.table tbody tr td {
    color: white;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #222;
}

.table tbody tr:nth-child(even) {
    background: rgb(146, 145, 145);
}